<!DOCTYPE html>
<html>
<body style="background-color:#00CDBC;">

<form action='/add_bookmarks' method=POST>
<label for="bookmark_url">Enter a url Bookmark
<input type="text" name="url" id="url">
<label for="bookmark_name">Enter a name for your Bookmark
<input type="text" name="name" id="name">
  <button name="submit_bookmark" type="submit">My Bookmarks</button>
</form>

