<!DOCTYPE html>
<html>
<body style="background-color:#00CDBC;">

<form action='/add_bookmarks' method=POST>
<label for="bookmark_form">Enter your Bookmark
<input type="text" name="url" id="url">
  <button name="submit_bookmark" type="submit">My Bookmarks</button>
</form>

