<!DOCTYPE html>
<html>
<body style="background-color:#00CDBC;">

<h2>My bookmarks</h2>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href = <%= bookmark.url %>> <%= bookmark.name %> </a></li>
  <% end %>
</ul>

</body>
</html>