<!DOCTYPE html>
<html>
<body style="background-color:#00CDBC;">

<h1>Bookmark Manager</h1>

<form action='/bookmarks'>
  <button name="my_bookmarks" type="submit">My Bookmarks</button>
</form>

</body>
</html>