<!DOCTYPE html>
<html>
<body style="background-color:#00CDBC;">

<h1>Bookmark Manager</h1>

<form action='/bookmarks'>
  <button name="my_bookmarks" type="submit">My Bookmarks</button>
</form>

<form action='/add_bookmarks'>
  <button name="add_bookmarks" type="submit">Add Bookmarks</button>
</form>

<form action='/delete_bookmarks'>
  <button name="delete_bookmarks" type="submit">Delete Bookmarks</button>
</form>

</body>
</html>